<?xml version="1.0"?>
<!--
  ~ @author    Tigren Solutions <info@tigren.com>
  ~ @copyright Copyright (c) 2022 Tigren Solutions <https://www.tigren.com>. All rights reserved.
  ~ @license   Open Software License ("OSL") v. 3.0
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Tigren_CustomerGroupCatalog::job_head" title="Rule" sortOrder="100">
                    <resource id="Tigren_CustomerGroupCatalog::groupcat" title="Customer Group Catalog" sortOrder="10">
                        <resource id="Tigren_CustomerGroupCatalog::groupcat_save" title="Save Group Catalog"
                                  sortOrder="10"/>
                        <resource id="Tigren_CustomerGroupCatalog::groupcat_delete" title="Delete Group Catalog"
                                  sortOrder="20"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
